# editor configs
/.vscode/
/.direnv/
/.envrc
/**/*.sln
/**/*.user

# environments
/.env
/.env.local
/.env.development
/.env.production
/.env.test
/.env.staging

# large files
/data/*

# build
/build/
/CMakeCache.txt
/CMakeFiles/
/Makefile
/**/*.cmake
/**/*.cmake.in
/cmake_install.cmake
*.a

# build artifacts
/**/*.o
/main
/mnist_cnn_trainer
/mnist_cnn_test
/mnist_cnn_pipeline_trainer
/cifar100_cnn_trainer
/cifar10_cnn_trainer
/cifar10_cnn_trainer_v2
/uji_ips_trainer
/pipeline_test
/network_worker
/sync_pipeline_coordinator
/semi_async_pipeline_coordinator
/profile.json.gz


# snapshots
/model_snapshots/*