# editor configs
/.vscode/
/.direnv/
/.envrc
/**/*.sln
/**/*.user

# large files
/data/
/mojo/

# build
/build/

# build artifacts
/**/*.o
/main
/mnist_cnn_trainer
/mnist_trainer
/mnist_cnn_pipeline_trainer
/cifar100_cnn_trainer
/cifar10_cnn_trainer
/uji_ips_trainer
/pipeline_test
/network_worker
/distributed_pipeline_example
/profile.json.gz


# snapshots
/model_snapshots/